* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    margin: 0;
}

.contenitore-pagina {
    background-color: lightgray;
    max-width: 1200px;
    margin: auto;
    /* border: 2px solid white; */
    z-index: 0;
}


header {
    background-color: rgb(150,150,150);
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: relative;
    height: 50px;
}

nav {
    display: flex;
    height: 100%;
}

.tenda {
    position: relative; /* serve per posizionare il figlio che se no non eredita una posizione definita */
    width: 100px;
}

.tenda__panel {
    position: absolute; /* serve per il posizionamento */
    /* top: 50px; */ /* posiziona sotto il genitore indicando hardcoded la misura, meglio fare 100% */
    top: 100%;  /* posiziona il pannello subito sotto l'elemento genitore, 100% del genitore */
    left: 0;
    width: 100%;
    z-index: 1000;

    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
}

.tenda:hover .tenda__panel {
    max-height: 500px;
}

.tenda__li {
    display: block;     /* perchè se lo applico ad un a che è inline devo specificarlo */
    height: 50px;
    line-height: 50px;  /* allinea verticalmente il testo */
    padding: 0 15px;    /* solo spazio orizzontale */
    background-color: rgb(150,150,150);
}

.tenda__li--active {
    background-color: lightgray;
}

.tenda__li:hover {
    background-color: lightgray;
}

nav a {
    text-decoration: none;
    color: black;
}

.icona {
    display: flex;
    align-items: center;
    /* width: 50px; */
    height: 100%;
    padding: 5px;
}

.icona img {
    display: block;
    /* width: 100%; */
    height: 100%;
}

.icona a {
    display: block;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icona--80 img {
    height: 80%;
}

.centro-flex {
    display: flex;
    align-items: stretch;
    /* border: 2px solid blue; */
}

.sidenav {
    background-color: rgb(200, 200, 200);
    /* border: 2px solid red; */
    width: 20%;
    padding: 5px;
}
.sidenav h2 {
    text-align: center;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
}

.sidenav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}
.sidenav a:hover {
    background-color: rgb(150,150,150);
}

main {
    background-color: lightgray;
    /* border: 2px solid red; */
    width: 80%;
    padding: 20px;
}
.main--100 {
    width: 100%;
}

h1, h2 {
    text-align: center;
}

.card {
    display: flex;
    /* border: 2px solid red; */
    margin: 10px;
}

.card__sx {
    width: 40%;
    font-size: 0px;
}

.card__sx img {
    width: 100%;
    height: auto;
}

.card__dx {
    display: flex;
    width: 60%;
    padding: 10px;
    align-items: center;
}

.card__dx__txt h3{
    font-size: 26px;
}


footer {
    background-color: rgb(150,150,150);
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px;
}
footer p {
    margin: 0;
}


.titolo-home {
    font-size: 100px;
    text-align: center;
}

.contenitore-pagina-immagine {
    background-color: lightgray;
    min-height: 100%;
    text-align: center;
}

.pulsanti {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;
}
.immagine {
    width: 100%;
    font-size: 0px;
    padding: 10px;
    overflow: hidden;
}
.immagine img {
    display: block;
    width: 100%;
}


@media (max-width: 768px) {
    main {
        width: 100%;
    }
    .titolo-home {
        font-size: 50px;
    }
}
